<div class="container">
    <img src="swiper.png" id="titleImg">
    <div class="title">
        <h1>Swiped Stories</h1>
        <h3>All the News that's fit to Swipe<div id="swipe">(Swiped from <a href="cracked.com">Cracked.com</a>)</div></h3>
        <button class="swipeNews">Swiper, Swipe!</button>
    </div>
</div>

<div class="container">
    <div id="articles">
        <ul class="list-group">
            {{#each article}}
                {{> article-block}}
            {{/each}}
        </ul>
    </div>
    <div id="notes"></div>
</div>